<div class="container-fluid">
  <div class="well col-sm-6">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <h1>RSVP Form</h1>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <div id="flash_messages"><%= flash_messages(:close, :fade) %></div>
    <div class="row">
      <div class="col-sm-8">
        <%= simple_form_for(@rsvp) do |f| %>
          <%= f.input :name %>
          <%= f.input :attending, as: :radio_buttons %>
          <%= f.input :meal_choice_id, collection: MealChoice.all, as: :radio_buttons, label_method: :name, value_method: :id %>
          <%= f.input :dietary_restrictions, as: :text %>
          <%= f.button :submit, "Save RSVP" %>
        <% end %>
      </div>
    </div>
    <%= link_to "Home", root_path, class: "pull-right" %>
  </div>
</div>
