<div class="container-fluid">
  <div class="panel panel-default form-panel">
    <div class="panel-heading">
      <div class="text-center">
        <h1>RSVP Form</h1>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div id="flash_messages">
          <%= flash_messages(:close, :fade) %>
        </div>
      </div>
      <div class="row">
        <%= simple_form_for(@rsvp, html: { class: 'form-horizontal'}) do |f| %>
          <%= f.input :name, wrapper_html: {class: 'form-group row col-sm-8 col-lg-8'}%>
          <%= f.input :attending, as: :radio_buttons, wrapper_html: {class: 'form-group row col-sm-8 col-lg-8'} %>
          <%= f.input :meal_choice_id, collection: MealChoice.all, as: :radio_buttons, label_method: :name, value_method: :id, wrapper_html: {class: 'form-group row col-sm-8 col-lg-8'} %>
          <%= f.input :dietary_restrictions, as: :text, wrapper_html: {class: 'form-group row col-sm-8 col-lg-8'} %>
          <div class='form-group row col-sm-8 col-lg-8'>
            <%= f.button :submit, "Save RSVP" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Home", root_path, class: "pull-right" %>
</div>
